<div class="justify-content-center d-flex">
    <h1>Perfil del Programador</h1>
</div>
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-10">

                <div class="card-body">
                    <p><strong>Nombre:</strong> Cintya Karina</p>
                    <p><strong>Apellidos:</strong> Banda González</p>
                    <p><strong>Edad:</strong> 21 años</p>
                    <p><strong>Lenguajes:</strong></p>
                    <div class="d-flex flex-row gap-3">
                        <div>
                            <img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png" 
                                 class="img-fluid shadow-sm hover-shadow-lg opacity-100 hover-opacity-75 rounded" 
                                 alt="JavaScript" style="width: 1.5cm; height: 1.5cm;">
                        </div>
                        <div>
                            <img src="https://upload.wikimedia.org/wikipedia/commons/4/4c/Typescript_logo_2020.svg" 
                                 class="img-fluid shadow-sm hover-shadow-lg opacity-100 hover-opacity-75 rounded" 
                                 alt="TypeScript" style="width: 1.5cm; height: 1.5cm;">
                        </div>
                        <div>
                            <img src="https://cdn.iconscout.com/icon/free/png-512/free-python-logo-icon-download-in-svg-png-gif-file-formats--technology-social-media-vol-5-pack-logos-icons-3030224.png?f=webp&w=512" 
                                 class="img-fluid shadow-sm hover-shadow-lg opacity-100 hover-opacity-75 rounded" 
                                 alt="Python" style="width: 1.5cm; height: 1.5cm;">
                        </div>
                        <div>
                            <img src="https://upload.wikimedia.org/wikipedia/commons/1/18/ISO_C%2B%2B_Logo.svg" 
                                 class="img-fluid shadow-sm hover-shadow-lg opacity-100 hover-opacity-75 rounded" 
                                 alt="C++" style="width: 1.5cm; height: 1.5cm;">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
