<div class="justify-content-center d-flex">
    <h1>Perfil del Programador</h1>
</div>
<div class="container mt-4 mb-4">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card-body">
                <div class="d-flex row">
                    <div class="col-md-4">
                        <p><strong>Nombre:</strong> Cintya Karina</p>
                        <p><strong>Apellidos:</strong> Banda González</p>
                        <p><strong>Edad:</strong> 21 años</p>
                        <p><strong>Contacto: </strong> <a href="https://github.com/CintyaKarinaBanda" target="_blank">GitHub</a>
                        </p>
                    </div>
                    <div class="col-md-8">
                        <p><strong>Sobre mí:</strong></p>
                        <p class="justificado">
                            Desarrolladora apasionada por la tecnología, con experiencia en desarrollo web y aplicaciones móviles. Me especializo en la creación de soluciones innovadoras y eficientes, adaptándome a las últimas tendencias y mejores prácticas en el desarrollo de software. Disfruto aprender nuevas tecnologías, explorar diferentes lenguajes de programación y perfeccionar mis habilidades para crear aplicaciones robustas y escalables.
                        </p>
                                               
                    </div>
                </div>
                <p><strong>Lenguajes de programación:</strong></p>
                <div class="d-flex flex-row gap-3">
                    <div class="language-container">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png" 
                             class="img-fluid rounded" alt="JavaScript">
                        <span class="language-name">JavaScript</span>
                    </div>
                    <div class="language-container">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/4/4c/Typescript_logo_2020.svg" 
                             class="img-fluid rounded" alt="TypeScript">
                        <span class="language-name">TypeScript</span>
                    </div>
                    <div class="language-container">
                        <img src="https://cdn.iconscout.com/icon/free/png-512/free-python-logo-icon-download-in-svg-png-gif-file-formats--technology-social-media-vol-5-pack-logos-icons-3030224.png?f=webp&w=512" 
                             class="img-fluid rounded" alt="Python">
                        <span class="language-name">Python</span>
                    </div>
                    <div class="language-container">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/1/18/ISO_C%2B%2B_Logo.svg" 
                             class="img-fluid rounded" alt="C++">
                        <span class="language-name">C++</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
